@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  color: #e1e1e1;
  background-color: #1e1e1e;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}
.container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container .valid-keys {
  font-size: 10rem;
  font-weight: bold;
  min-width: 600px;
  border-bottom: solid 2px #fff;
}
.container .valid-keys .matched {
  background-color: #fdf8c5;
  color: #282c34;
}
.container .valid-keys .remainder {
  opacity: 0.5;
}

.container .completed-words {
  width: max-content;
  height: 100vh;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  text-align: left;
  padding: 20px 40px;
  font-size: 1.8rem;
  line-height: 2.5rem;
  opacity: 0.5;
}

.container .typed-keys {
  margin-top: 20px;
  font-size: 1.3rem;
  width: 600px;
  overflow: hidden;
}
